<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles.css" />
  </head>

  <body>
    <div class="headerContainer">
      <a href="/">Home</a>
      <a id="headerImage" href="/">
        <img
          src="/header.png"
          alt="SunORain logo which takes the user to the home page"
      /></a>
      <a href="/about">About</a>
    </div>
  </body>
</html>
