<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles.css" />
    <title>SunORain</title>
  </head>
  <body>
    <h1>Oops! Something went wrong.</h1>
    <h3>Let's redirect you back to the home page to try again!</h3>
    <img src="/ErrorScreenSadFace.png" alt="Image of the logo which is a cloud, sun and rain with a sad face" />

    <!-- Automatically redirect the user to the home page -->
    <script>
      setTimeout(function () {
        window.location.href = "/";
      }, 5000);
    </script>
  </body>
</html>