<%- include('partials/header.ejs'); -%>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    href="https://fonts.googleapis.com/css2?family=Lemon&display=swap"
    rel="stylesheet"
  />
    <link rel="stylesheet" href="./styles.css" />
    <title>SunORain</title>
  </head>
  <body>
    <div class="errorContainer"></div>
    <h2 class="errorMainText">Oops! Something went wrong.</h2>
    <h4>Let's redirect you back to the home page to try again!</h4>
    <img
      class="errorImage"
      src="/error.png"
      alt="Image of the logo which is a cloud, sun and rain with a sad face"
    />

    <!-- Automatically redirect the user to the home page -->
    <script>
      setTimeout(function () {
        window.location.href = "/";
      }, 5000);
    </script>
  </body>
</html>
