<%- include('partials/header.ejs'); -%>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lemon&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./styles.css" />
    <title>SunORain</title>
  </head>
  <body>
    <div id="app">
      <form id="weatherForm" class="weatherForm" action="/" method="POST">
        <h1 for="cityInput">Whats the weather like in :</h1>
        <input type="text" id="cityInput" name="city" required />
        <button id="getWeatherButton" type="submit">Get Weather</button>
      </form>
      <div id="weatherInfo"></div>
    </div>
    <script type="module" src="/dist/index.js"></script>
  </body>
</html>
