<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Web site created using create-snowpack-app"
    />
    <link rel="stylesheet" href="./styles.css" />
    <title>SunORain</title>
  </head>
  <body>
    <div id="app">
      <h1>SunORain</h1>
      <form id="weatherForm" action="/" method="POST">
        <label for="cityInput">Enter City Name:</label>
        <input type="text" id="cityInput" name="city" required />
        <button type="submit">Get Weather</button>
      </form>
      <div id="weatherInfo"></div>
    </div>
    <script type="module" src="/dist/index.js"></script>
  </body>
</html>
