<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles.css" />
    <title>Weather Report</title>
  </head>
  <body>
    <h1>Weather Report for <%= weatherData.name %></h1>
    <h3>Temperature: <%= Math.round(weatherData.main.temp - 273.15) %>°C</h3>
    <!-- Convert temperature from Kelvin to Celsius -->
  </body>
</html>
